body {
    background-color: #333;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
}

main {
    margin: auto;
    width: 100%;
}

.result-text {
    color: greenyellow;
    font-family: "VT323", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: large;
    margin: 1em 0;
}

#result {
    color: #fafafa;
    font-family: "VT323", monospace;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template: 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% / 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6%;
    border: solid 1px greenyellow;
    width: 75vh;
    height: 75vh;
    background-image: url("/assets/space-tile.png");
    background-repeat: repeat;
    margin: auto;
}

.shooter {
    background-image: url("/assets/starship1.png");
    background-size: cover;
}

.invader {
    background-image: url("/assets/alien1.png");
    background-size: contain;
}

.boom {
    background-image: url("/assets/boom1.png");
    background-size: contain;
}

.laser {
    background-image: url("/assets/laser-ball1.png");
    background-size: contain;
}