body {
    width: 100vw;
    overflow-x: hidden;
    background-image: url("/assets/space-background.png");
}

main {
    width: 75vh;
    min-height: 90vh;
    border: solid 1px greenyellow;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.71);
}

.result-text {
    color: #fafafa;
    font-family: "VT323", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: x-large;
    padding: 1em;
    margin: 0;
}

#result {
    font-weight: 700;
}

.credit-text {
    text-align: right;
}

.grid {
    display: grid;
    grid-template: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% / 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    width: 75vh;
    height: 75vh;
    margin: auto;
}

.shooter {
    background-image: url("/assets/starship1.png");
    background-size: cover;
}

.invader {
    background-image: url("/assets/alien1.png");
    background-size: contain;
}

.boom {
    background-image: url("/assets/boom1.png");
    background-size: contain;
}

.laser {
    background-image: url("/assets/laser-ball1.png");
    background-size: contain;
}

.bottom-headers {
    display: flex;
    justify-content: space-between;
}

.lives-container {
    padding-left: 1em;
}

.lives-img {
    height: 30px;
    width: 30px;
}


/* home page style rules */

.main-title {
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 0;
}

.title-img {
    width: 100%;
}

.title-grid {
    display: grid;
    grid-template: calc(90vh - 60px) 40px / 100%;
    width: 75vh;
    height: 75vh;
    margin: auto;
}