.grid {
    display: grid;
    grid-template: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    border: solid 1px black;
    width: 600px;
    height: 600px;
    background-image: url("/assets/parallax-space-stars.png");
    background-color: #333;
    background-size: contain;
}

.shooter {
    /* background-color: blue; */
    background-image: url("/assets/ship_6.png");
    background-size: contain;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.boom {
    background-color: red;
}

.laser {
    background-image: url("/assets/laser-shot.png");
    background-size: contain;
}




